<div class="bg-grey-lighter min-h-screen flex flex-col">
    <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2"></div>
   
    
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
                <h4 class="mb-8 text-3xl text-center">Login</h4>
            <div >
              
                <input type="text" formControlName="username" class="block border border-grey-light w-full p-3 rounded mb-4" [ngClass]="{ 'is-invalid': submitted && f['username'].errors }"placeholder ="Username" />
                <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
                    <div *ngIf="f['username'].errors['required']">Username is required</div>
                </div>
            </div>
            <div >
                
                <input type="password" formControlName="password" class="block border border-grey-light w-full p-3 rounded mb-4" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" placeholder="Password"/>
                <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                    <div *ngIf="f['password'].errors['required']">Password is required</div>
                </div>
            </div>
            <div>
                <button [disabled]="loading" class="w-full text-center py-3 rounded bg-green text-white hover:bg-green-dark focus:outline-none my-1">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Login
                </button>
                <a routerLink="/register" class="no-underline border-b border-grey-dark text-grey-dark">Register</a>
            </div>
        </div>
        </form>
   
    </div>
